<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/Home/Home.css">
    <title>Home</title>
</head>
<body>
    <div class="Header_Container">
        <img src="../Assets/Images/Brown-Topography-Map.jpg" alt="" class="Header_Image">
    </div>
    <nav class="Nav">
        <ul class="NavLink_Container">
            <li class="NavLink_Item">
                <a href="../Views/Home.html" class="NavLink">
                    Home
                </a>
            </li>
            <li class="NavLink_Item">
                <a href="../Views/About.html" class="NavLink">
                    About
                </a>
            </li>
            <li class="NavLink_Item">
                <a href="./PrivacyPolicy.html" class="NavLink">
                    Privacy & Policy
                </a>
            </li>
            <li class="NavLink_Item">
                <a href="../index.html" class="NavLink">
                    Login
                </a>
            </li>

            <div class="Search_Container">
                <img src="../Assets/Icons/Search-Icon.png" alt="" class="SearchIcon">
                <input placeholder="Search..." type="text" class="Search">
            </div>

            <img src="../Assets/Icons/Menu-Icon.png" alt="" class="MenuIcon">
        </ul>
    </nav>
</body>
</html>